body {
  font-size: 12px; }

.px-total {
  margin: 0 auto;
  padding: 10px;
  width: 1000px; }

.px-produtos {
  width: 300px;
  height: 150px;
  border: 1px solid #ccc;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.px-produtos:hover {
  box-shadow: 3px 3px 5px #888888; }

.px-produtos img {
  float: left; }

.px-produtos div {
  float: left;
  margin-left: 10px; }

.clear {
  clear: both; }
